
#root {
  font: {
    family: $font_kr;
    size: 14px;
    weight: 300;
  }  
    color: $black;
}

.Intro {
  .buttons {
    margin-top: 90px;
  }
}

.Join {
  .agreeSection {
    margin-top: 24px;
  }
}

.Login {
  .form-utill {
    margin-top: 8px; 
    text-align: center; 
    color: $gray_68;
    font: {
      size: 10px;
    }
  }
}

.FindEmil {
  .form-item + .form-item {
    margin-top: 0;
  }
  .security-group {
    margin-top: 8px;
    display: none;
  }
}