/* Button
===================================== */
.Btn {
  font-family: $font_kr;
  font-weight: 300;
  display: block;
  /* size */
  &.full {
    width: 100%; 
  }

  /* bg-color: */
  &.fill{
    &-orange {
      background-color: $orange;
    }
    &-gray-f1 {
      background-color: $gray_f1;
    }
    &-gray-e2 {
      background-color: $gray_e2;
    }
    &-gray-49 {
      background-color: $gray_49;
    }
    &-white {
      background-color: $white;
    }
  }
  &.border{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;

    &-orange {
      border-color: $orange;
    }
      
    &-gray-8a {
      border-color: $gray_8a;
    }
    &-whtie {
      border-color: $white;
    }
  }
  &:disabled,
  &.disabled {    
    cursor: not-allowed;
  }
}

/* txt btn */
.Btn {
  .txt {
    &-orange {
      color: $orange; 
    }
    &-grape-deep {
      color: $grape_deep;
    }
    &-graye-68{
    color: $gray_68;
    }
    &-gtay-8a{
      color: $gray_8a;
    }
    &-white {
      color: $white;
    }
  }
}
/* icon btn */
.Btn {
  &.icon {
    position: relative;
    padding: 0 20px;
    > i {
      position: absolute;
      top: 0; right: 20px;
      width: 30px; height: 100%;
      &.arrow {
        -webkit-mask-image: url($url + "icon/arrow_round_key.svg");
        mask-image: url($url + "icon/arrow_round_key.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-repeat: no-repeat;
        -webkit-mask-size: 24px 24px;
        mask-size: 24px 24px;
        background-size: 24px 24px;
        -webkit-mask-position: center center;
        mask-position: center center;
        background-position: center center;
      }
    }
    > .txt {width: calc(100% - 40px); }
    &.fill-orange {
      .arrow {
        background-color: $white;
      }
    }
    &.border-orange {
      .arrow {
        background-color: $orange;
      }
    }
  }
}


/* 2개 이상인 버튼 */
.Buttons {
  position: relative; 
  margin-top: 40px;
  .Btn {
    margin-top: 8px;
  }
  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
  }
}


/* Form
===================================== */
.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

/*  input
------------------------ */
.form-item {
  width: 100%;
 + .form-item {
  margin-top: 24px;
 } 
 & .form-label {
    display: block;
    padding: 0 4px;
    margin-bottom: 8px;
    color: $black;
    font: {
      size: 14px;
    }
 }
 & .form-input {
    display: block;
    width: 100%; height: 50px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $gray_e2;
    box-sizing: border-box;
    color: $black;
    outline: $orange;
    font: {
      size: 14px;
      weight: 300;
    }
    &:placeholder,
    &::placeholder {
      color: $gray_8a;
      font: {
        size: 14px;
        weight: 300;
      }
    }
    &:disabled,
    &.disabled {
      background-color: $gray_f1;
      color: $gray_68;
      cursor: not-allowed;
      &.form-input {
        border-color: transparent !important;
      }
    }
    &:hover,
    &:focus {
      outline: $orange !important;
      border: 1px solid $orange !important
    }
    &.full {
      width: 100%;
    }
 }
 & .form-guide {
    display: block;
    margin-left:4px;
    margin-top: 4px;
    color: $gray_68;
    font: {
      size: 10px;
    }
    &.warning {
      color: $error;
    }
 }
 /* */
 &.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  >  *:not(span) {
    width: calc((100% - 20px)/ 2)
  }
  & span {
    display: inline-block;
    width: 20px;
    margin-top: 24px;
    text-align: center;
  }
  & .select {
    
  }
  & .full {
    margin-top: 8px;
  }
 }
}

/*  checkbox
------------------------ */
.checkbox {
  position: relative;
  & .check-input {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px; 
    clip-path: polygon(0 0, 0 0, 0 0);
    clip-path: inset(50%); 
    clip: rect(0, 0, 0, 0); 
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked + .check-label:before {
      content: ''; 
      position: absolute; 
      z-index: 1;
      width: 18px; height: 9px;
      top: 5px; left: 6px;
      background-color: $orange;
      -webkit-mask-image: url($url + "icon/checked_round.svg");
      mask-image: url($url + "icon/checked_round.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-mask-size: 18px auto;
      mask-size: 18px auto;
      background-size: 18px auto;
      -webkit-mask-position: right center;
      mask-position: right center;
      background-position: right center;
    }
  }
  & .check-label {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0;   
      width: 20px; height: 20px;
      border: 1px solid $gray_e2;
      box-sizing: border-box;
      background-color: transparent;
    }
    &:before.on {
      content: ''; 
      position: absolute; 
      top: 0; right: 0;
      background-color: $gray_8a;
      -webkit-mask-image: url($url + "icon/checked_round.svg");
      mask-image: url($url + "icon/checked_round.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-mask-size: 18px 9px;
      mask-size: 18px 9px;
      background-size: 18px 9px;
      -webkit-mask-position: right center;
      mask-position: right center;
      background-position: right center;
    }
    span {
      display: inline-block;
      margin-left: 31px; 
      font-size: 12px;
      color: $black;
      line-height: 20px;
      vertical-align: middle;
    }
    
  }
}

/* txt check */

/*  select
------------------------ */
.select {
  position: relative;
  .select-btn {
    display: block;
    width: 100%; height: 50px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid $gray_e2;
    border-radius: 5px;;
    background-color: transparent;
    color: $black;
    text-align: left;
    &:hover,
    &:focus {
      outline: $orange !important;
      border: 1px solid $orange !important;
    }
    font: {
      family: $font_en;
      size: 14px;
      weight: 300;
    }
    &.on {
      > i {
        transform: rotate(-90deg);
      }
      + .option {
        display: block;
      }
    }
    i {
      position: absolute;
      top:0; right: 8px;
      width: 10px; height: 100%;
      background-color: $black;
      -webkit-mask-image: url($url + "icon/arrow_round.svg");
      mask-image: url($url + "icon/arrow_round.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-mask-size: 20px auto;
      mask-size: 20px auto;
      background-size: 20px auto;
      -webkit-mask-position: center center;
      mask-position: center center;
      background-position: center center;
      transform: rotate(90deg);
    }
  }
  .option {
    display: none;
    position: absolute;
    z-index: 10; 
    top: 54px; left: 0; 
    width: 100%; height: auto;
    padding: 10px 10px 15px 10px;
    border-radius: 5px;;
    border: 1px solid $gray_e2;
    box-sizing: border-box;
    background-color: $white;
    li + li {
      margin-top: 8px;
    }
    & .option-btn {
      display: block;
      width: 100%; 
      min-height: 18px;
      font-size: 12px;
      font-weight: 300;
      color: $gray_68;
      text-align: left;
      cursor: pointer;
      &.on,
      &:focus,
      &:hover {
        color: $orange;
      }

    }
  }
}
