@import "var";

/* Button
===================================== */

.Btn {
  font-family: $font_kr;
  font-weight: 300;
  display: block;
  /* size */
  &.full {
    width: 100%; 
  }

  /* bg-color: */
  &.paint{
    &.orange {
      background-color: $orange;
    }
    &.gray-f1 {
      background-color: $gray_f1;
    }
    &.gray-e2 {
      background-color: $gray_e2;
    }
    &.white {
      background-color: $white;
    }
  }
  &.border{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    &.border-orange {
      border-color: $orange;
    }
      
    &.border-8a {
      border-color: $gray_8a;
    }
    &.border-whtie {
      border-color: $white;
    }
  }
}

/* txt btn */
.Btn {
  .txt {
    &.orange {
      color: $orange; 
    }
    &.grape-deep {
      color: $grape_deep;
    }
    &.graye-68{
    color: $gray_68;
    }
    &.gtay-8a{
      color: $gray_8a;
    }
    &.white {
      color: $white;
    }
  }
}
/* icon btn */
.Btn {
  &.icon {
    position: relative;
    padding: 0 20px;
    > i {
      position: absolute;
      top: 0; right: 20px;
      width: 30px; height: 100%;
      &.arrow {
        -webkit-mask-image: url($url + "icon/arrow.svg");
        mask-image: url($url + "icon/arrow.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-repeat: no-repeat;
        -webkit-mask-size: 16px 10px;
        mask-size: 16px 10px;
        background-size: 16px 10px;
        -webkit-mask-position: center center;
        mask-position: center center;
        background-position: center center;
      }
    }
    > .txt {width: calc(100% - 40px); }
    &.orange {
      .arrow {
        background-color: $white;
      }
    }
    &.border-orange {
      .arrow {
        background-color: $orange;
      }
    }
  }
}


/* 2개 이상인 버튼 */
.Buttons {
  position: relative; 
  margin-top: 40px;
   .Btn {
    margin-top: 8px;
  }
  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
  }
}


/* Form
===================================== */
.form {
  display: flex;
  flex-wrap: wrap;
}
.form-item {
  width: 100%;
 + .form-item {
  margin-top: 24px;
 } 
 & .form-label {
    display: block;
    padding: 0 4px;
    margin-bottom: 8px;
    color: $black;
    font: {
      size: 14px;
    }
 }
 & .form-input {
    display: block;
    width: 100%; height: 50px;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $gray_e2;
    box-sizing: border-box;
    color: $black;
    outline: $orange;
    font: {
      size: 14px;
      weight: 300;
    }
    &:placeholder {
      color: $gray_8a;
      font: {
        size: 14px;
        weight: 300;
      }
    }
    &:hover,
    &:focus {
      outline: $orange;
    }
    &.full {
      width: 100%;
    }
 }
 & .form-guide {
    display: block;
    margin-left:4px;
    margin-top: 4px;
    color: $gray_68;
    font: {
      size: 10px;
    }
    &.warning {
      color: $error;
    }
 }
 /* */
 &.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  >  *:not(span) {
    width: calc((100% - 20px)/ 2)
  }
  & span {
    display: inline-block;
    width: 20px;
    margin-top: 24px;
    text-align: center;
  }
  & .select {
    
  }
  & .full {
    margin-top: 8px;
  }
 }
}

.select {
  .select-btn {
    position: relative;
    display: block;
    width: 100%; height: 50px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid $gray_e2;
    border-radius: 5px;;
    background-color: transparent;
    color: $black;
    text-align: left;
    font: {
      family: $font_en;
      size: 14px;
      weight: 300;
    }
    i {
      position: absolute;
      top:0; right: 8px;
      width: 10px; height: 100%;
      background-color: $black;
      -webkit-mask-image: url($url + "icon/select.svg");
      mask-image: url($url + "icon/select.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-mask-size: 10px 8px;
      mask-size: 10px 8px;
      background-size: 10px 8px;
      -webkit-mask-position: center center;
      mask-position: center center;
      background-position: center center;
    }
  }
  .option {
    display: none;
  }
}

.security-group {}