@import "var";

/* layer
===================================== */

.Header {
  width: 100%; height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  .hd-back {
    width: 30px; height: 30px;
    background-color: $black;
    -webkit-mask-image: url($url + "icon/arrow_round.svg");
    mask-image: url($url + "icon/arrow_round.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-mask-size: 24px 24px;
    mask-size: 24px 24px;
    background-size: 24px 24px;
    -webkit-mask-position: right center;
    mask-position: right center;
    background-position: right center;
    transform: rotate(180deg);
  }
  h2 {
    color: $black;
    font: {
      size: 18px;
      weight: 300;
    }
  }
}

/* article
===================================== */
.Big {
  & .group {
    max-height: 300px;
    padding: 62px 30px 123px 60px;
    box-sizing: border-box;
    border-radius: 80px;
    border-bottom-right-radius: 0;
    background-color: $orange;
    
    .dubuck_logo {
      width: 62px; height: 50px;
      background: {
        image: url($url + "common/logo.png");
        size: contain;
        position: center center;
        repeat: no-repeat;
      }
    }
    h2 {
      color: $black;
      font: {
        size: 40px; 
        weight: 700;
      } 
    }
    p {
      margin-top: 8px;
      color: $black;
      font: {
        size: 16px;  
    }}
  }
  .dubuck_symbolon {
    max-width: 100%;
    margin-top: -54px; 
    padding-left: 47px; 
  }
}

.security-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .form-input {
    width: 120px;
  }
  .Btn {
    width: calc(100% - 128px);
    margin-left: 8px;
  }
  .form-guide {
    width: 100%; 
    text-align: right;
    white-space: pre-line;
  }
}

.select {
  &.email {
    font-family: $font_en;
  }
}

.agreeSection  {
  h3 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    color: $black;
  }
  li {
    position: relative;
    margin-top: 4px;
  }
  .more {
    position: absolute; 
    top: 0; right: 0;
    width: 20px; height: 20px;
    background-color: $gray_8a;
    -webkit-mask-image: url($url + "icon/arrow_round.svg");
    mask-image: url($url + "icon/arrow_round.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-mask-size: 7px 10px;
    mask-size: 7px 10px;
    background-size: 7px 10px;
    -webkit-mask-position: right center;
    mask-position: right center;
    background-position: right center;
  }
}

.Dialog {
  width: calc(100% - 40px);
  max-width: 325px; max-height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: $white;
  outline: $orange;
}
.Confirm {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  .head {
    position: relative;
    height: 36px;
    padding-top: 10px;
    box-sizing: border-box;
    h3 {
      width: calc(100% - 30px);
      color: $black;
      font-size:18px;
      font-weight: 700;
    }
    .close-btn {
      position:absolute;
      top: 10px; right: 0; 
      width: 20px; height: 20px;
      background-color: $black;
      -webkit-mask-image: url($url + "icon/close.svg");
      mask-image: url($url + "icon/close.svg");
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-repeat: no-repeat;
      -webkit-mask-size: 10px 10px;
      mask-size: 10px 10px;
      background-size: 10px 10px;
      -webkit-mask-position: right center;
      mask-position: right center;
      background-position: right center;
    }
  }
  .body {
    padding: 40px 0 50px;
    .message {
      font-size: 14px;
      color: $black;
      line-height: 1.2;
      text-align: center;
      white-space: pre-line
      ;
    }
  }
  .foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    .Btn {
      width: 50%;
      max-width: 130px;
    }
  }
}


.list-group {
  display: flex;
  flex-wrap: wrap;
}


/* 아이템 리스트 _종류별 */
.list-group {
  li {
    max-width: 160px; max-height: 160px;
    aspect-ratio: 1/1;
    padding: 20px 30px;
    border-radius: 20px;
    box-sizing: border-box;
    .btn {
      display: block;
      width: 100%; height: 100%;
      color: $white;
      font-size:32px;
      font-family: $font_kr;
      font-weight: 700;
      text-align: left;
    }
    
  }
  &.calendar { 
    justify-content: flex-end;
    margin-top: -80px;
    text-align: right;
    container: category_item / inline-size;
    .btn {
      max-width: 160px; max-height: 160px;
      padding: 52px 30px 20px 30px;
      border-radius: 20px;
      background-color: $gray_24;
      p {
        color: $white;
        font-size: 14px;
      }
      strong {
        font-size:32px;
        font-family: $font_kr;
        font-weight: 700;
        color: $white;
      }
    }
    &:before {
      content: '';
      position: absolute; 
      z-index: 1;
      top: -14px; right: 0;
      width: 160px; height: 42px; 
      background: {
        image: url($url + "icon/calendar_head.svg");
        repeat: no-repeat;
        size: cover;
        position: top center;
      }
    }
  } 
  &.category {
    gap: 16px 0;
    justify-content: space-between;
    margin-top: 16px;
    container: category_item / inline-size;
     .item{
        position: relative;
        background-size: 24px 24px;
        &:nth-child(odd) {
          .btn {
            text-align: right;
          }
        }
        &.item-word {
          background: {
            color: $grape_61;
            image: url($url + "icon/book.svg");
            repeat: no-repeat;
            position: bottom 20px left 20px;
          }
        }
        &.item-exam {
          background: {
            color: $orange;
            image: url($url + "icon/exam.svg");
            repeat: no-repeat;
            position: bottom 20px right 20px;
          }
        }
        &.item-result {
          background: {
            color: $red_f6;
            image: url($url + "icon/flag.svg");
            repeat: no-repeat;
            position: bottom 20px left 20px;
          }
        }
        
    }
  }
}


/* 컨테이너 쿼리 _ 카테고리 영역*/
@container category_item (max-width: 325px) {
  .calendar {
    .box {
      width: calc(50% - 8px);
    }
    li{ 
      width: calc(50% - 8px);
    }; 
  }
}

@container category_item (max-width: 302px) {
  .calendar {
    p {
      font-size: 12px;
    }
    .count {
      font-size: 24px;
    }
    li{
      font-size: 24px;
    }
  }
}