/*  변수
==================================== */
$font_kr: "KIMM";
$font_en: "SpaceGrotesk";

$font_18: "18px";

$orange: #FA7D38;
$black: #171717;
$white: #FFFFFF;
$error : #EC1E1E;
$red_f6: #F64848;
$grape: #6558F5;
$grape_light: rgba(101,88,245,0.35);
$grape_deep: #3F34C0;
$grape_61: #6153FF;

$gray_f1 : #F1F1F1;
$gray_e2 : #E2E2E2;
$gray_68 : #686868;
$gray_8a : #8A8A8A;
$gray_49 : #494949;
$gray_24 : #242424;

$url : "../../assets/images/";




/*  공통 
==================================== */
.visuallyhidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%); 
  clip: rect(0, 0, 0, 0); 
  clip: rect(0 0 0 0);
  overflow: hidden; }

.none_scroll {overflow: hidden; touch-action: none;}
.indent {text-indent: -9999px;}

.inner40 {padding: 0 40px; box-sizing: border-box;} 
.inner20 {padding: 0 20px; box-sizing: border-box;} 



/* width */
.w {
  &.full {
    width: 100%;
  }
}


/* height */
.h{
  &-50 {
    height: 50px;
  }
  &-40 {
    height: 40px;
  }
  &-20 {
    height: 20px;
  }
}

/* border-radius */
.radius {
  border-radius: 100%;
  &-5 {
    border-radius: 5px;
  }
  &-20 {
    border-radius: 20px;
  }
}

/* font size */
.font {
  &-18 {
    font-size: 18px;
  }
}
