@charset "UTF-8";
/*  변수
==================================== */
/*  공통 
==================================== */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.none_scroll {
  overflow: hidden;
  touch-action: none;
}

.indent {
  text-indent: -9999px;
}

.inner40 {
  padding: 0 40px;
  box-sizing: border-box;
}

.inner20 {
  padding: 0 20px;
  box-sizing: border-box;
}

/* width */
.w.full {
  width: 100%;
}

/* height */
.h-50 {
  height: 50px;
}
.h-40 {
  height: 40px;
}
.h-20 {
  height: 20px;
}

/* border-radius */
.radius {
  border-radius: 100%;
}
.radius-5 {
  border-radius: 5px;
}
.radius-20 {
  border-radius: 20px;
}

/* font size */
.font-18 {
  font-size: 18px;
}

/* layer
===================================== */
.Header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}
.Header .hd-back {
  width: 30px;
  height: 30px;
  background-color: #171717;
  -webkit-mask-image: url("../../assets/images/icon/arrow_round.svg");
  mask-image: url("../../assets/images/icon/arrow_round.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
  background-size: 24px 24px;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
  transform: rotate(180deg);
}
.Header h2 {
  color: #171717;
  font-size: 18px;
  font-weight: 300;
}

/* article
===================================== */
.Big .group {
  max-height: 300px;
  padding: 60px 40px 120px 60px;
  box-sizing: border-box;
  border-radius: 80px;
  border-bottom-right-radius: 0;
  background-color: #FA7D38;
}
.Big .group .logo {
  width: 50px;
  height: 26px;
  background-image: url("../../assets/images/common/logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.Big .group h2 {
  color: #171717;
  font-size: 40px;
  font-weight: 700;
}
.Big .group p {
  margin-top: 8px;
  color: #171717;
  font-size: 16px;
}
.Big .dubuck_symbolon {
  max-width: 100%;
  margin-top: -54px;
  padding-left: 47px;
}

.security-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.security-group .form-input {
  width: 120px;
}
.security-group .Btn {
  width: calc(100% - 128px);
  margin-left: 8px;
}
.security-group .form-guide {
  width: 100%;
  text-align: right;
  white-space: pre-line;
}

.select.email {
  font-family: "SpaceGrotesk";
}

.agreeSection h3 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #171717;
}
.agreeSection li {
  position: relative;
  margin-top: 4px;
}
.agreeSection .more {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #8A8A8A;
  -webkit-mask-image: url("../../assets/images/icon/arrow_round.svg");
  mask-image: url("../../assets/images/icon/arrow_round.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: 7px 10px;
  mask-size: 7px 10px;
  background-size: 7px 10px;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
}

.Dialog {
  width: calc(100% - 40px);
  max-width: 325px;
  max-height: 100%;
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: #FFFFFF;
  outline: #FA7D38;
}

.Confirm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
}
.Confirm .head {
  position: relative;
  height: 36px;
  padding-top: 10px;
  box-sizing: border-box;
}
.Confirm .head h3 {
  width: calc(100% - 30px);
  color: #171717;
  font-size: 18px;
  font-weight: 700;
}
.Confirm .head .close-btn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #171717;
  -webkit-mask-image: url("../../assets/images/icon/close.svg");
  mask-image: url("../../assets/images/icon/close.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: 10px 10px;
  mask-size: 10px 10px;
  background-size: 10px 10px;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
}
.Confirm .body {
  padding: 40px 0 50px;
}
.Confirm .body .message {
  font-size: 14px;
  color: #171717;
  line-height: 1.2;
  text-align: center;
  white-space: pre-line;
}
.Confirm .foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
.Confirm .foot .Btn {
  width: 50%;
  max-width: 130px;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
}

/* 아이템 리스트 _종류별 */
.list-group li {
  max-width: 160px;
  max-height: 160px;
  aspect-ratio: 1/1;
  padding: 20px 30px;
  border-radius: 20px;
  box-sizing: border-box;
}
.list-group li .btn {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 32px;
  font-family: "KIMM";
  font-weight: 700;
  text-align: left;
}
.list-group.calendar {
  justify-content: flex-end;
  margin-top: -80px;
  text-align: right;
  container: category_item/inline-size;
}
.list-group.calendar .btn {
  max-width: 160px;
  max-height: 160px;
  padding: 52px 30px 20px 30px;
  border-radius: 20px;
  background-color: #242424;
}
.list-group.calendar .btn p {
  color: #FFFFFF;
  font-size: 14px;
}
.list-group.calendar .btn strong {
  font-size: 32px;
  font-family: "KIMM";
  font-weight: 700;
  color: #FFFFFF;
}
.list-group.calendar:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -14px;
  right: 0;
  width: 160px;
  height: 42px;
  background-image: url("../../assets/images/icon/calendar_head.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.list-group.category {
  gap: 16px 0;
  justify-content: space-between;
  margin-top: 16px;
  container: category_item/inline-size;
}
.list-group.category .item {
  position: relative;
  background-size: 24px 24px;
}
.list-group.category .item:nth-child(odd) .btn {
  text-align: right;
}
.list-group.category .item.item-word {
  background-color: #6153FF;
  background-image: url("../../assets/images/icon/book.svg");
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
}
.list-group.category .item.item-exam {
  background-color: #FA7D38;
  background-image: url("../../assets/images/icon/exam.svg");
  background-repeat: no-repeat;
  background-position: bottom 20px right 20px;
}
.list-group.category .item.item-result {
  background-color: #F64848;
  background-image: url("../../assets/images/icon/flag.svg");
  background-repeat: no-repeat;
  background-position: bottom 20px left 20px;
}

/* 컨테이너 쿼리 _ 카테고리 영역*/
@container category_item (max-width: 325px) {
  .calendar .box {
    width: calc(50% - 8px);
  }
  .calendar li {
    width: calc(50% - 8px);
  }
}
@container category_item (max-width: 302px) {
  .calendar p {
    font-size: 12px;
  }
  .calendar .count {
    font-size: 24px;
  }
  .calendar li {
    font-size: 24px;
  }
}